<div class="table-container">
    <h1>Juntas disponibles</h1>
    <br>
    <table class="table table-striped ">
        <thead class="table-head">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cuota</th>
            <th scope="col">Integrantes</th>
            <th scope="col">Frecuencia</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let hero of juntas; let i=index">
            <td>{{ i+1 }}</td>
            <td>{{hero.alias}}</td>
            <td>s/.{{hero.cuota}}</td>
            <td>{{hero.integrantes}}</td>
            <td>{{hero.frecuencia}}</td>
            <td><button class="btn btn-primary btn-xs">Unirse</button></td>
        </tr>
        </tbody>
    </table>
</div>
