Nombre de junta:
<input [(ngModel)]="aggroupment.name"/>
Monto de junta:
<select [(ngModel)]="aggroupment.ammount">
  <option *ngFor="let option of ammounts" [value]="option">
    {{option}}
  </option>
</select>
Frecuencia de pago:
<select [(ngModel)]="aggroupment.period">
    <option *ngFor="let period of periods" [value]="period">
      {{period}}
    </option>
</select>
Numero de participantes:
<select [(ngModel)]="aggroupment.nbParticipants">
  <option *ngFor="let nbParticipant of nbParticipants" [value]="nbParticipant">
    {{nbParticipant}}
  </option>
</select>
<div *ngIf="isValid()">
  Monto a pagar {{aggroupment.period}}:
  <input readonly [value]="paymentPeriodically()"/>
</div>
<div>
  name + {{aggroupment.name}} + 
  ammount + {{aggroupment.ammount}} +
  period + {{aggroupment.period}} + 
  nbParticipants + {{aggroupment.nbParticipants}}
  isValid + {{isValid()}}
</div>
