<nav class="navbar navbar-default navbar-fixed-top bg-blue" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <figure class="logo">
                <img src="assets/img/logo_juntate.png" alt="">
            </figure>
            <a class="navbar-brand" href="#">Júntate</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="/aperturar">Aperturar una Junta</a>
                </li>
                <li *ngIf="!isLogged()">
                    <a href="/registrarse">Registrarse</a>
                </li>
                <li *ngIf="!isLogged()">
                    <a href="/ingresar">Ingresar</a>
                </li>
                <li *ngIf="isLogged()">
                    <a href="/juntas">Mis juntas</a>
                </li>
                <li *ngIf="isLogged()">
                    <a href="#">Bienvenido {{userId()}}</a>
                </li>
                <!-- <li>
                <a href="#">is looged + {{isLogged()}}</a>
              </li> -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>