<div>
  <div class="box-container">
      <div class="box-form">
          <form>
              <legend class="form-title">Junta: {{ junta.alias }}</legend>
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="name">Integrantes</label>
                      <div>{{ junta.integrantes }}</div>
                  </div>
                  <div class="form-group">
                      <label for="ammount">Monto de cuota:</label>
                      <div>{{ junta.cuota }}</div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="period">Periodo:</label>
                      <div>{{ junta.frecuencia }}</div>
                  </div>
                  <div class="form-group">
                      <label for="period">Usuario:</label>
                      <div>{{ junta.creador.nombre }}</div>
                  </div>
              </div>
          </form>
      </div>
  </div>
  <div class="table-container">
      <h1>Participantes</h1>
      <br>
      <table class="table table-striped ">
          <thead class="table-head">
          <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of junta.participantes; let i=index">
              <td>{{ i+1 }}</td>
              <td>{{p.nombre}}</td>
          </tr>
          </tbody>
      </table>
  </div>
</div>
