<div class="box-container">
    <div class="box-form">
        <form>
            <legend class="form-title">Crear Nueva Junta</legend>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Nombre de junta</label>
                    <div>{{ junta.alias }}</div>
                </div>
                <div class="form-group">
                    <label for="ammount">Monto de cuota:</label>
                    <div>{{ junta.cuota }}</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="period">Periodo:</label>
                    <div>{{ junta.periodo }}</div>
                </div>
                <div class="form-group">
                    <label for="period">Usuario:</label>
                    <div>{{ junta.creador }}</div>
                </div>
            </div>
        </form>
    </div>
</div>
