$font-stack: Helvetica, sans-serif;
$blue-color: #004b8c;
$orange-color: #f37c2f;

.bg-blue {
  background-color: $blue-color;
}

/*brand*/
.navbar-default .navbar-brand {
  font-size: 2em;
  color: white;
}

.navbar-default .navbar-brand:hover {
  color: $orange-color;
}

.navbar-default .navbar-brand:visited {
  color: $orange-color;
}

/*menu items */
#bs-example-navbar-collapse-1 .nav a {
  color: white;
}

#bs-example-navbar-collapse-1 .nav a:hover {
  color: $orange-color;
}

#bs-example-navbar-collapse-1 .nav a:visited {
  color: $orange-color;
  background: red;
}

.box-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-form {
  max-width: 600px;
  background: $orange-color;
  border-radius: 5px;
  margin-top: 80px;
  padding: 20px;
  color: #fff;
}